<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <title>Simulação Aposentadoria</title>
</head>
<body>
    <header class="header">
        <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15.1/color/1024px/1f1e7-1f1f7.png" alt="">
        <h1>Simula Aposentadoria</h1>
    </header>
    <main>
        <section class="main__form">
            <form class="form" action="/enviar" method="post">
                <label>
                    <input class="input" id="name" name="name" type="text" placeholder="" required="">
                    <span>Nome completo</span>
                </label>
                <label>
                    <input class="input" id="dataNascimento" name="dataNascimento" type="date" placeholder="" required="">
                    <span>Data de nascimento</span>
                </label>
                <label>
                    <input class="input" id="cpf" name="cpf" type="text" placeholder="" required="">
                    <span>CPF</span>
                </label>
                <label>
                    <input class="input" id="salario" name="salario" type="number" placeholder="" required="">
                    <span>Salário</span>
                </label>
                <label>
                    <input class="input" id="dataContratacao" name="dataContratacao" type="date" placeholder="" required="">
                    <span>Data de Contratação</span>
                </label>
                <label>
                    <input class="input" id="tempoContribuicao" name="tempoContribuicao" type="number" placeholder="" required="">
                    <span>Tempo de contribuição (anos)</span>
                </label>
                <button class="submit">Enviar</button>
            </form>
        </section>
    </main>
</body>
</html>
